<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- bean definitions here -->
    <bean class="in.sp.beans.Address" id="adrId2">
        <constructor-arg  value="564"/>
        <constructor-arg  value="Washim"/>
        <constructor-arg  value="444586"/>
     </bean>
     <bean class="in.sp.beans.Student" id="stdId" autowire="constructor"><!--used setter method internaly-->
        <constructor-arg value="101" index="0"/>
        <constructor-arg value="Harish" index="1"/>
        <!--<constructor-arg ref="addrId"/>-->
     </bean>
</beans>